<div class="notice"><%= notice %></div>
<h1 class="table-title"><%= @request.trap.name %></h1>
<div class="listing-manipulation">
  <div>
    <%= link_to 'Delete', requests_path(@request.trap.name, @request.id), method: :delete %>
  </div>
  <div>
    <%= link_to 'Back', trap_path %>
  </div>
</div>
<div class="container">
    <table class="listing-table">
      <thead>
        <tr>
          <td>Parameter</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
      <% @request.attributes.each do |value| %>
          <tr>
            <td><%= value[0].to_s.capitalize.gsub("_", " ") %></td>
            <td>
              <% if value[1].is_a? Hash %>
                <% value[1].each_key do |k, v| %>
                  <p><%= k %> | <%= v %></p>
                <% end %>
              <% else %>
                <%= value[1] %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>