<div class="notice"><%= notice %></div>
<h1 class="table-title "><%= @trap.name %></h1>
<div class="listing-manipulation">
  <div>
    <%= link_to 'Delete', trap_path(@trap.name), method: :delete %>
  </div>
  <div class="edit-btn">
    Edit
  </div>
  <div>
    <%= link_to 'Back', traps_path %>
  </div>
</div>
<div class="edit-form">
  <%= form_for(@trap) do |f| %>
      <p><%= f.label :name %></p>
      <p><%= f.text_field :name %></p>
      <p><%= f.submit 'Rename' %></p>
  <% end %>
</div>
<div class="container">
    <table class="request-list listing-table">
      <thead>
      <tr>
        <td>#</td>
        <td>Created at</td>
        <td>Remote ip</td>
        <td>Request method</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <% @requests.each_with_index do |request, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= request.created_at.strftime("%F %T") %></td>
            <td><%= request.remote_ip %></td>
            <td><%= request.request_method %></td>
            <td><%= link_to 'Details', requests_path(@trap.name, request) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>
